<h1><%= @country.name %></h1>

<%= image_tag @country.image_url, :width => 600 %>

<p>Population: <%= @country.population %></p>
<p>Area: <%= @country.area %> km2</p>
<p>Continent: <%= @country.continent %></p>

<%= link_to "Back", countries_path %>
